.container{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar{
  display: flex;
  align-items: center;
  margin: 25px 0;
  padding: 0 15px;
  width: 25%;
  height: 40px;
  border: 2px solid black;
  border-radius: 50px;
}
.Textfield{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container #search {
    cursor: pointer;
    margin-left: 15px;
    padding: 12px 25px;
    background-color: #4C8787;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'roboto';
    letter-spacing: 1.2px;
    border: none;
  }