.verticalCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .verticalCard h2 {
    padding: 15px 0;
    font-size: 1.1rem;
  }
  
  .verticalCard h3 {
    padding: 15px 0;
  }
  
  .verticalCard img {
    width: 100px;
  }
  
  .verticalCard img:first-child {
    width: 300px;
  }
  
  .verticalCardHolder {
    margin: 30px auto;
    width: 98%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }